.SocialMedia {
    position: fixed;
    background: #fff;
    padding: 13px;
    right: 0;
    border-bottom-left-radius: 4px;
    z-index: 1000;

    a:nth-child(1) {
        margin-right: 15px;
    }
    svg, path {
        transition: all .2s ease-in-out;
    }
    svg {
        font-size: 21px;

        path {
            color: $blue;
        }
        &:hover {
            font-size: 25px;
        }
        &:hover path {
            color: #000;
        }
    }
}