.Projects {
    position: relative;
    background: #fff; 
    padding-bottom: 150px;

    svg {
        position: absolute;
        width: 100%;
        top: -74px;
        height: 74px;
        transform: rotate(180deg) rotateY(180deg);
        fill: #fff;
    }

    .navBar {
        width: 75%;
        max-width: 1090px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-top: 35px;

        h2 {
            color: $blue;
        }

        .nav {
            display: flex;

            p {
                margin: 0 10px;
                padding: 10px 25px;
                border-radius: 5px;
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: .15em;
                cursor: pointer;
            }
            p.active {
                background-color: #0084f8;
                border-bottom: 3px solid #0460b1;
                color: #fff;
            }
        }
    }

    .projectsContainer {
        width: 75%;
        max-width: 1090px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 50px auto 0 auto;
    }
}

@media screen and (max-width: 900px) {
    .Projects {
        .navBar {
            flex-direction: column;

            .nav {
                margin-top: 40px;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .Projects {
        padding-bottom: 100px;

        svg {
            height: 40px;
            top: -40px;
        }

        .navBar {
            .nav {
                margin-top: 20px;

                p, p.active {
                    margin: 0 15px;
                    padding: 15px 15px;
                    font-size: 10px;
                }
            }
        }
        .projectsContainer {
            width: 90%;
            margin: 30px auto 0 auto;
        }
    }
}