$poppins: Poppins,sans-serif;
$gilroy: Gilroy ExtraBold,sans-serif;
$blue: #047be3;
$text-1: #252525;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: $text-1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html
{
    scroll-behavior: smooth;
}

p
{
    font-family: $poppins;
    font-weight: 400;
    font-size: 16px;
}

a, button, label
{
    font-family: $poppins;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .17em;
    cursor: pointer;
}

h1, h2, h3, h4
{
    text-align: center;
    font-family: $gilroy;
    font-weight: bold;
    line-height: 0.9;
}

h1 {
    font-size: 65px;
}
h2 {
    font-size: 50px;
    text-transform: capitalize;
}

@media screen and (max-width: 415px) {
    h2 {
        font-size: 10vw;
    }
}