.Logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 203px;
    background: center / contain no-repeat ;

    h1, p {
        text-transform: capitalize;
        color: #fff;
    }
    p {
        opacity: .5;
        margin-top: 5px;
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    .Logo {
        height: 40vw;

        h1 {
            font-size: 11vw;
        }
        p {
            font-size: 100%;
        }
    }
}